body {
    color: #EEF0F1
}

#topic {
    text-align: center;
    display: block;
    font-size: 20pt;
    line-height: 5rem;
}

table{
margin:auto;
width: 65%;
text-align: center;}
.like{
    line-height: 2rem;
    color: #1c333f;
    font-weight: bold;
}
.details{
    color: #1c333f;
    font-weight: bold;
}
.description{
    text-align: left;
    width: 80%;
    margin: auto;
    line-height: 3rem;
    text-indent:40px;
    color: #dadad7;
    font-size: 18px;
    text-decoration: underline;
}